body{
	margin: 0;
}
.header{
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    margin: -8px;
}
.top1{
    color: white;
    text-align: left;
    font-size: 30px;
	margin-top: -25px;
	margin-bottom: -5px;
	margin-left: 5px;
	text-decoration:none;
	font-family: 'Bangers', cursive;
}
input[id="menuicon"] {
	display:none;
}
input[id="menuicon"] + label {
	display:block;
	width:30px;
	height:20px;
	position:relative;
	right: -96%;
}
input[id="menuicon"] + label span {
	display:block;
	position:absolute;
	width:100%;
	height:20%;
	border-radius:30px;
	background:white;
	transition:all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
	top:0;
}
input[id="menuicon"] + label span:nth-child(2) {
	top:50%;
	transform:translatey(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
	bottom:0%;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
	top:50%;
	transform:translatey(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
	opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
	bottom:50%;
	transform:translatey(50%) rotate(-45deg);
}

.footer {
	display:table;
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	text-align: center;
}
.copy_right {
	color: white;
	font-size: 15px;
	padding-top: 10px;
	margin-bottom: 10px;
}
.footer_icons {
	padding-top: 20px;
}
.footer_icon_inner{
	font-size: 30px;
	color: white;
}

.contents{
	background-color: black;
	margin: 0px;
	display: block;
	height: 100vh;
	width: 100%;
}
.contents_head{
	position: absolute;
	width: 100vh;
	display: table;
	background-color: white;
	height: 30vh;
	margin-left: 10vh;
	margin-right: 10vh;
	margin-top: 5vh;

}
